.faq .faq-list {
    padding: 0;
    width: 1100px;
    margin: 30px 30px 130px;
  }
  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li + li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 10px;
    background: #fff;
    border-radius: 6px;
   
  }
  
  .faq .faq-list a {
    display: block;
    position: static;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    padding: 0 40px;
    outline: none;
  }
  
  .faq .faq-list .icon-show, .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .section-title01 h2{
    margin:60px 400px 10px;
    font-size: 30px;
   font-family: 'Merriweather Sans', sans-serif;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #0880e8;
  }
  
  .faq .faq-list a.collapsed  {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  }
  
  .contact {
   
    position:static;
   
  }
  .section-title{
    margin:60px 380px 10px;
  }
  .contact:before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .contact .php-email-form {
    width: 75%;
    background: #F6F6F6;
    height: 550px;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
    margin: 0px 380px 0px;
  }
  
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 40px;
    width: 380px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
    width: 380px;
    height: 250px;
  }
  
  .contact .php-email-form button[type="submit"] {
    border: 0;
    padding: 10px 32px;
    color: #00A8CC;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #00A8CC;
    background: #fff;
    margin: 0px 380px 0px;
    cursor:pointer;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #00A8CC;
    color: #fff;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .question {
    border-bottom: 1px solid #010101;
    padding: 10px 0;
    
  }
  
  .question input,
  .question .answer { display: none }
  
  .question label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    cursor:pointer;
  }
  
  .question input:checked ~ .answer {
    display: block
  }
  .card-form{
    position:static;
  }