*{
    box-sizing:border-box;
    margin:0;
}

html, body {
    background-color: #F6F6F6;
    position: relative;
    width: 100%;
    height: 1780px;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container-02{
    width: 270px;
    height: 580px;
    background:#F6F6F6;
    right:1600px;
    position:static;
    margin:30px 70px 0px
}
            
.card{
    width: 270px;
    height: 227px;
    left: 215px;
    right:200px;
    background: #FFFFFF;  
}
 
.card-title{
    font-family: "Nunito";
    color:#1b1b2f;
    font-size: 16px;
    text-align: center;                
}   

.card-title02{
    font-family: "Nunito";
    color:#1b1b2f;
    font-size: 12px;
    text-align: center;                
}         

.card-text{
    font-family: "Nunito";
    color:#1b1b2f;
    font-size: 12px;
    text-align: justify;
    letter-spacing: .1rem;  
}

.card01{
    width: 160px;
    height: 220px;
    background:#F6F6F6;
    float:left;
    display: inline-block;
    width:16%;
}

.card-title01{

    color:#1b1b2f;
    font-size: 18px;
    font-family: 'Merriweather Sans', sans-serif;
    background:#F6F6F6;
    text-align: justify;
    height: 20px;
    border-radius: 5px;
    box-shadow: 20px 10px 70px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
}


.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: relative;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.container-03{
    width: 1200px;
    height: 230px;
    background:#F6F6F6;
    margin: 0 auto;  
}
.container-04{
    width: 1200px;
    height: 1370px;
    background:#F6F6F6;
    margin: 0 auto;  
}

.card-bt {
    padding-top: 0;
}

.card-bt .card-bt00 {
    padding: 40px 30px;
    position:static;
    overflow: hidden;

    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    margin: 0px 170px 0px;
    
    background-repeat: no-repeat;
    background-size:840px 220px;
    bottom: 0;
    color: black;
    padding: 3em;
    left:200px;
    text-align: left;
    top: 0;
    width: 70%;
    height: 220px; 
    align: center;               
}

.card-bt00 .icon {
    margin: 0px 30px 30px;
    display: inline-block;
    text-align: center;
}

.card-bt00 .icon i {
    font-size: 36px;
    line-height: 1;
    color: #f6b024;
}

.card-bt00 .title {
    font-family: "Nunito";
    color:#1b1b2f;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}

.card-bt00 .title h2 {
    color: #05579e;
}

.card-bt00 .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color:#1b1b2f;
}

.card-bt01 {
    padding-top: 0;
}

.card-bt01 .card-bt01 {
    padding: 40px 30px;
    position:static;
    overflow: hidden;
    
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    margin: 0px 0px 30px;

    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    right:200px;
    text-align: center;
    top: 0;
    width: 1200px;
    height: 320px;                
}
.card-title{
    font-family: "Nunito";
    color:#1b1b2f;
    font-weight: 700;
    vertical-align: 30px;
    font-size: 16px;
}

.section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f1f8ff;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #054a85;
}

.section-title p {
    margin-bottom: 0;
    font-style: italic;
}

.text-center a[href] {
    border: 0;
    padding: 5px 25px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    border: 3px solid  #fff;
    background: #50D890;
    cursor:pointer;
    margin: 0px 60px 0px;
    text-decoration: none;
}

.text-center a[href]:hover {
    background:  #00A8CC;;
    color:#fff;
}

@-webkit-keyframes animate-loading {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

@keyframes animate-loading {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

.contact:before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.card-link{
    text-decoration: none;
    text-transform: uppercase;
    color:   #EBF0F6;;
    background: #00A8CC;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
  
    border: 0.10px solid  #dae1e7;
    border-radius: 40px;
    box-shadow: 0 1.5px 0 rgba(0, 0, 0, .3),
                0 2px 7px rgba(0, 0, 0, 0.2);
                padding: 4px 20px;
}

.card-body{
    
    height: 30px;
}